body{
  font-family: 'Montserrat', sans-serif;
  background:linear-gradient( hsl(0,0%,35%) 0%, hsl(0,0%,15%) 100%);
  height:auto;
  color:white;
  text-align:left;
  max-width: 600px;
  width: 100%;
  margin: 0 auto
}
.title{
  text-align:center;
}
  #survey-form {
   
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 15px;
    background:linear-gradient(to top left, hsl(0,0%,20%) 0%, hsl(0,0%,10%) 100%);
  }
.form{
  display: block;
  width:60%;
  height:5vh;
  border-radius: 5px;
  background-clip: padding-box;
}
#container{
  display:flex;
  width:100%;
}
#item1{
  width:50%;
}
#item2{width:50%}

#number{
  width:10%;
}
#comment{
  min-height:100px;
  width:90%;
  padding:10px;
  border-radius: 5%;
  
}

#submit{
  display: block;
  width: 100%;
  padding: 1.5vh;
  background: hsl(0,0%,25%);
  color: white;
  border-radius: 2px;
  cursor: pointer;
}